.headers {
  text-align: center;
  padding: 2rem;
  background-color: #1c067e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-area {
  display: flex;
  width: auto;
  background-color: #1c067e;
}

.back-button {
  border: none;
  background-color: #1c067e;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

.table-container {
  background-color: #1a4782;
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  justify-content: space-between;
  padding: 13px;
}

.table-row:nth-child(2n) {
  background-color: #1c067e80;
}

.weblink {
  color: #fff;
  padding-top: 1rem;
}
