@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Montserrat&family=Roboto+Slab&display=swap");
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  height: 80vh;
  background-color: #101010;
  width: 98%;
  margin-inline: auto;
  border-radius: 0 0 6rem 6rem;
  background-size: cover;
}

.navbar {
  display: flex;
  width: 90%;
  padding: 1rem;
  color: gold;
}

.nav-list {
  margin-left: auto;
  display: flex;
  list-style: none;
  font-family: cursive;
}

.nav-item {
  margin-right: 2rem;
}

.h {
  display: flex;
}

.hd-ds {
  padding: 8rem 0 0 6rem;
  width: 30%;
}

.page-name {
  color: gold;
  padding-left: 6rem;
  font-size: 1.8rem;
  font-family: Kenia, cursive;
}

.image {
  background-image: url('https://img.freepik.com/free-vector/business-infographic-template-with-photo_23-2148232861.jpg?t=st=1695239560~exp=1695240160~hmac=92dac98367d52e9a6b1ca7faa29261863173146c265ac1725b247faa4076c78f');
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 40vh;
  margin: 5rem 0 0 3rem;
  transform: perspective(10rem) rotateY(340deg) scale(0.8);
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.company-list .company {
  width: 15%;
  height: 20vh;
  border: 1px solid #000;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 6px;
}

.company-name {
  font-size: 1.2rem;
  color: #fff;
}

.header-button {
  background-color: goldenrod;
  padding: 0.5rem;
  border-radius: 0.8rem;
}

.search {
  width: 80%;
  margin-inline: auto;
}
